<div class="paper-form">
  <form class="form-horizontal" novalidate>
      <fieldset>
          <legend>Formulario de Vehiculo: </legend>

          <div class="form-group">
            <label for="id" class="col-lg-2 control-label">Id Vehiculo</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="id" disabled placeholder="0" ng-model="model._id">
            </div>
          </div>

          <div class="form-group">
            <label for="chassis" class="col-lg-2 control-label">Chassis</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="chassis" placeholder="123456789" ng-model="model.chassis">
            </div>
          </div>

          <div class="form-group">
            <label for="capacity" class="col-lg-2 control-label">Capacidad</label>
            <div class="col-lg-10">
              <input type="number" class="form-control" id="capacity" placeholder="30" ng-model="model.capacity">
            </div>
          </div>

          <div class="form-group">
            <label for="status" class="col-lg-2 control-label">Estado</label>
            <div class="col-lg-10">
              <select id="status" class="form-control select" ng-model="model.status">
                <option selected disabled>Seleccione un estado: </option>
                <option value="disponible">disponible</option>
                <option value="ocupado`">ocupado</option>
              </select>
            </div>
          </div>

          <button class="btn btn-default" ui-sref="root.vehicleList">Volver atras</button>

          <span class="pull-right">
            <button class="btn btn-default" type="cancel">Cancelar</button>
            <button class="btn btn-primary" type="submit" ng-hide="editMode" ng-click="addModel()">Guardar</button>
            <button class="btn btn-primary" type="submit" ng-show="editMode" ng-click="editModel()">Editar</button>
          </span>
      </fieldset>
  </form>
</div>
